body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  transition: ease color 0.5s;
  line-height: 1.6;

  background-color: var(--color-background);
  color: var(--color-text);

  font-family: 'Times New Roman', 'Noto Serif JP', serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  user-select: none;
}

select {
  background-color: var(--color-background-soft);
  padding: 4px;
  border-radius: 4px;
}

a:link {
  color: var(--color-accent);
  text-decoration: underline;
}

a:visited {
  color: var(--color-accent);
}